<div class="background">
    <div class="ui-container">
        <div class="chessboard-container">
            <div class="chessboard" (click)="onClick($event)">
                <!-- 1st -->
                <div id="00" class="white space"></div>
                <div id="10" class="black space"></div>
                <div id="20" class="white space"></div>
                <div id="30" class="black space"></div>
                <div id="40" class="white space"></div>
                <div id="50" class="black space"></div>
                <div id="60" class="white space"></div>
                <div id="70" class="black space"></div>
                <!-- 2nd -->
                <div id="01" class="black space"></div>
                <div id="11" class="white space"></div>
                <div id="21" class="black space"></div>
                <div id="31" class="white space"></div>
                <div id="41" class="black space"></div>
                <div id="51" class="white space"></div>
                <div id="61" class="black space"></div>
                <div id="71" class="white space"></div>
                <!-- 3rd -->
                <div id="02" class="white space"></div>
                <div id="12" class="black space"></div>
                <div id="22" class="white space"></div>
                <div id="32" class="black space"></div>
                <div id="42" class="white space"></div>
                <div id="52" class="black space"></div>
                <div id="62" class="white space"></div>
                <div id="72" class="black space"></div>
                <!-- 4th -->
                <div id="03" class="black space"></div>
                <div id="13" class="white space"></div>
                <div id="23" class="black space"></div>
                <div id="33" class="white space"></div>
                <div id="43" class="black space"></div>
                <div id="53" class="white space"></div>
                <div id="63" class="black space"></div>
                <div id="73" class="white space"></div>
                <!-- 5th -->
                <div id="04" class="white space"></div>
                <div id="14" class="black space"></div>
                <div id="24" class="white space"></div>
                <div id="34" class="black space"></div>
                <div id="44" class="white space"></div>
                <div id="54" class="black space"></div>
                <div id="64" class="white space"></div>
                <div id="74" class="black space"></div>
                <!-- 6th -->
                <div id="05" class="black space"></div>
                <div id="15" class="white space"></div>
                <div id="25" class="black space"></div>
                <div id="35" class="white space"></div>
                <div id="45" class="black space"></div>
                <div id="55" class="white space"></div>
                <div id="65" class="black space"></div>
                <div id="75" class="white space"></div>
                <!-- 7th -->
                <div id="06" class="white space"></div>
                <div id="16" class="black space"></div>
                <div id="26" class="white space"></div>
                <div id="36" class="black space"></div>
                <div id="46" class="white space"></div>
                <div id="56" class="black space"></div>
                <div id="66" class="white space"></div>
                <div id="76" class="black space"></div>
                <!-- 8th -->
                <div id="07" class="black space"></div>
                <div id="17" class="white space"></div>
                <div id="27" class="black space"></div>
                <div id="37" class="white space"></div>
                <div id="47" class="black space"></div>
                <div id="57" class="white space"></div>
                <div id="67" class="black space"></div>
                <div id="77" class="white space"></div>
            </div>
        </div>
        <div class="button-container">
            <button (click)="onSubmit()" class="btn btn-success m-3">Submit</button>
            <button (click)="onUndo()" class="btn btn-warning m-3">Undo</button>
            <button (click)="onConcede()" class="btn btn-danger m-3">Concede</button>
        </div>
    </div>
    
    <br>
    <div>
        <a href="https://www.1001fonts.com/chess-font.html#styles" class="font-credit">James Kilfiger</a>
    </div>
</div>