.custom-color{
    color: blue;
}
.chessboard {
    width: 690px;
    height: 690px;
    margin: auto;
    border: 25px solid #333;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.border-blue{
    width: 80px;
    height: 80px;
    border: solid blue 3px;
}

.border-red{
    width: 80px;
    height: 80px;
    border: solid red 3px;
}

.border-green{
    width: 80px;
    height: 80px;
    border: solid lime 3px;
}

.red{
    color:red !important;
}

.white-piece{
        color: white;
        text-shadow: -1px 2px 0 #000,
                      1px 1px 0 #000,
                     1px -1px 0 #000,
                    -1px -1px 0 #000;
}
div{
    font-family: 'Times New Roman', Times, serif;
}