<!-- <h1>Hello World!</h1>
<h3>King</h3>
<div class="piece custom-color">&#9812;</div>
<div class="piece custom-color">&#9818;</div> -->
<div class="chessboard">
  <!-- 1st -->
  <div id="8a" class="white">&#9820;</div>
  <div id="8b" class="black">&#9822;</div>
  <div id="8c" class="white">&#9821;</div>
  <div id="8d" class="black">&#9819;</div>
  <div id="8e" class="white">&#9818;</div>
  <div id="8f" class="black">&#9821;</div>
  <div id="8g" class="white">&#9822;</div>
  <div id="8h" class="black">&#9820;</div>
  <!-- 2nd -->
  <div id="7a" class="black">&#9823;</div>
  <div id="7b" class="white">&#9823;</div>
  <div id="7c" class="black">&#9823;</div>
  <div id="7d" class="white">&#9823;</div>
  <div id="7e" class="black">&#9823;</div>
  <div id="7f" class="white">&#9823;</div>
  <div id="7g" class="black">&#9823;</div>
  <div id="7h" class="white">&#9823;</div>
  <!-- 3rd -->
  <div id="6a" class="white"></div>
  <div id="6b" class="black"></div>
  <div id="6c" class="white"></div>
  <div id="6d" class="black"></div>
  <div id="6e" class="white"></div>
  <div id="6f" class="black"></div>
  <div id="6g" class="white"></div>
  <div id="6h" class="black"></div>
  <!-- 4th -->
  <div id="5a" class="black"></div>
  <div id="5b" class="white"></div>
  <div id="5c" class="black"></div>
  <div id="5d" class="white"></div>
  <div id="5e" class="black"></div>
  <div id="5f" class="white"></div>
  <div id="5g" class="black"></div>
  <div id="5h" class="white"></div>
  <!-- 5th -->
  <div id="4a" class="white"></div>
  <div id="4b" class="black"></div>
  <div id="4c" class="white"></div>
  <div id="4d" class="black"></div>
  <div id="4e" class="white"></div>
  <div id="4f" class="black"></div>
  <div id="4g" class="white"></div>
  <div id="4h" class="black"></div>
  <!-- 6th -->
  <div id="3a" class="black"></div>
  <div id="3b" class="white"></div>
  <div id="3c" class="black"></div>
  <div id="3d" class="white"></div>
  <div id="3e" class="black"></div>
  <div id="3f" class="white"></div>
  <div id="3g" class="black"></div>
  <div id="3h" class="white"></div>
  <!-- 7th -->
  <div id="2a" class="white">&#9817;</div>
  <div id="2b" class="black">&#9817;</div>
  <div id="2c" class="white">&#9817;</div>
  <div id="2d" class="black">&#9817;</div>
  <div id="2e" class="white">&#9817;</div>
  <div id="2f" class="black">&#9817;</div>
  <div id="2g" class="white">&#9817;</div>
  <div id="2h" class="black">&#9817;</div>
  <!-- 8th -->
  <div id="1a" class="black">&#9814;</div>
  <div id="1b" class="white">&#9816;</div>
  <div id="1c" class="black">&#9815;</div>
  <div id="1d" class="white">&#9813;</div>
  <div id="1e" class="black">&#9812;</div>
  <div id="1f" class="white">&#9815;</div>
  <div id="1g" class="black">&#9816;</div>
  <div id="1h" class="white">&#9814;</div>
</div>