<div class="background">
    <div class="game-list-container pt-5">
        <div class="game-list-area">
            <h1 class="center">My Games</h1>
            <table class="games-table mt-4">
                <tr>
                    <th>Opponent</th>
                    <th>Last Move</th>
                    <th></th>
                </tr>
                <tr *ngFor="let game of stubs">
                    <td *ngIf="username==game.whiteUser; else isBlack">
                        {{game.blackUser}}
                    </td>
                    <ng-template #isBlack>
                        <td>
                            {{game.whiteUser}}
                        </td>
                    </ng-template>
                    <td>{{getTimeDistance(game)}}</td>
                    <td *ngIf="game.isWhiteTurn && username==game.whiteUser; else opponent">
                        <button (click)="goToGame(game)" class="btn btn-primary">Your Turn</button>
                    </td>
                    <ng-template #opponent>
                        <td>
                            <button (click)="goToGame(game)" class="btn btn-secondary">View</button>
                        </td>
                    </ng-template>
                </tr>
            </table>
            <br>
        </div>
    </div>
    <div class="fixed-bottom photographer-credit">
        <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@rollelflex_graphy726?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from sk"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">sk</span></a>
    </div>
</div>
