<div class="background">
    <h3 class="pt-5 pl-5 pr-5 white">InfyChess Registration</h3>
    <form class="form m-5" [formGroup]="registrationForm" (ngSubmit)="register()">
        <div class="form-group">
            <label class="white" for="username">Username</label>
            <input class="form-control input-area" formControlName="username">
        </div>
        <div class="form-group">
            <label class="white" for="password">Password</label>
            <input type="password" class="form-control input-area" formControlName="password">
        </div>
        <div class="form-group">
            <label class="white" for="confirmation">Confirm Password</label>
            <input type="password" class="form-control input-area" formControlName="confirmation">
        </div>
        <button class="btn btn-primary">Register</button>
    </form>
    <p *ngIf="message" class="red ml-5">{{message}}</p>
</div>

